[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[EC2A87572A871E28]
row=5
col=0

[7C128478128438E2]
row=0
col=0

[00B896DBB896CF12]
row=4
col=0

[Wastebasket]
row=1
col=0

[/]
row=2
col=0

[/home/elecfist]
row=3
col=0

